@import url('https://fonts.googleapis.com/css?family=Merienda');

.App {
  text-align: center;
}
body{
  font-family: 'Merienda', cursive;
 
} 

.App h1{
  font-family: 'Merienda', cursive;
  color: #e94f37;
  padding-top: 2%;
}
.App nav.navbar {
    background-color: #5c415d;
    color: white;
}